<app-user-form></app-user-form>


<div class="container-fluid" *ngIf="false">
  <h1>Angular Template Driven Form</h1>

  {{ userModel | json }}
  {{ userForm.value | json }}

  <form #userForm="ngForm">

    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" 
        name="Name" #userName="ngModel" required 
        [(ngModel)]="userModel.Name" 
        [class.is-invalid]="userName.invalid && !userName.pristine"
      >
      <small class="text-danger" 
        [class.d-none]="userName.valid || userName.untouched" 
      >
        Name is required
      </small>
    </div>
    
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" [(ngModel)]="userModel.Email" name="Email">
    </div>
    
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="tel" class="form-control"
        [(ngModel)]="userModel.Phone"
        name="phone" #phone="ngModel" pattern="^\d{10}$" required
        [class.is-invalid]="phone.invalid && phone.touched"
      >
      <small class="text-danger" 
        [class.d-none]="phone.valid || phone.untouched"
      >
        Invalid Phone Number
      </small>
    </div>
    
    <div class="form-group">
      <select class="custom-select" [(ngModel)]="userModel.Topic" name="Topic">
        <option selected>I am intersted in</option>
        <option *ngFor="let topic of topics">{{ topic }}</option>
      </select>
    </div>

    <div class="mb-3">
      <label>Time Preference</label>
      <div class="form-check">
        <input type="radio" value="morning" class="form-check-input" [(ngModel)]="userModel.TimePreference" name="TimePreference">
        <label class="form-check-label">Morning (9AM - 12PM)</label>
      </div>
      <div class="form-check">
        <input type="radio" value="evening" class="form-check-input" [(ngModel)]="userModel.TimePreference" name="TimePreference">
        <label class="form-check-label">Evening (5PM - 8PM)</label>
      </div>
    </div>

    <div class="form-check mb-3">
      <input type="checkbox" class="form-check-input" [(ngModel)]="userModel.IsSendPromotionalOffers" name="IsSendPromotionalOffers">
      <label class="form-check-label">Send me promotional offers</label>
    </div>

    <div ngModelGroup="Address">
    
      <div class="form-group">
        <label>Street</label>
        <input type="text" class="form-control" [(ngModel)]="userModel.Address.Street" name="Street">
      </div>
    
      <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" [(ngModel)]="userModel.Address.City" name="City">
      </div>
    
      <div class="form-group">
        <label>State</label>
        <input type="text" class="form-control" [(ngModel)]="userModel.Address.State" name="State">
      </div>
    
      <div class="form-group">
        <label>Postal Code</label>
        <input type="text" class="form-control" [(ngModel)]="userModel.Address.PostalCode" name="PostalCode">
      </div>

    </div>

    <button class="btn btn-primary" type="submit" (click)="createUser()">Submit Form</button>

  </form>
</div>