<div class="container-fluid">
  <h1>Angular Template Driven Form</h1>

  <form #userForm="ngForm">

    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" 
        [(ngModel)]="userModel.Name"
        name="Name" #userName="ngModel" required 
        [class.is-invalid]="userName.invalid && !userName.pristine"
      >
      <small class="text-danger" 
        [class.d-none]="userName.valid || userName.untouched"
      >
        Name is required
      </small>
    </div>
    
    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" 
            [(ngModel)]="userModel.Email" 
            name="email" #email="ngModel" required 
            [class.is-invalid]="email.invalid && !email.pristine"
        >
        <small class="text-danger" 
          [class.d-none]="email.valid || email.untouched"
        >
            Email is required
        </small>
    </div>
    
    <div class="form-group mb-3">
        <label for="phone">Phone</label>
        <input type="tel" class="form-control"
        [(ngModel)]="userModel.Phone"
        name="phone" #phone="ngModel" pattern="^\d{10}$" required
        [class.is-invalid]="phone.invalid && phone.touched"
        >
        <div [class.d-none]="phone.valid || phone.pristine">
            <small class="text-danger" *ngIf="phone.errors?.['required']">Phone Number is required</small>
            <small class="text-danger" *ngIf="phone.errors?.['pattern']">Invalid Phone Number</small>
        </div>
    </div>
    
    <div class="form-group mb-3">
        <select class="custom-select" 
            [(ngModel)]="userModel.Topic" 
            name="topic" #topic="ngModel" required
            [class.is-invalid]="isDefaultTopic && topic.touched"
            (blur)="validateTopic(topic.value)"
            (change)="validateTopic(topic.value)"
        >
            <option value="default">I am intersted in</option>
            <option *ngFor="let topic of topics">{{ topic }}</option>
        </select>
        <small class="text-danger" [class.d-none]="!isDefaultTopic || topic.untouched">Topic is required</small>
    </div>

    <div class="mb-3">
        <label>Time Preference</label>
        <div class="form-check">
            <input type="radio" value="morning" class="form-check-input" [(ngModel)]="userModel.TimePreference" name="TimePreference">
            <label class="form-check-label">Morning (9AM - 12PM)</label>
        </div>
        <div class="form-check">
            <input type="radio" value="evening" class="form-check-input" [(ngModel)]="userModel.TimePreference" name="TimePreference">
            <label class="form-check-label">Evening (5PM - 8PM)</label>
        </div>
    </div>

    <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" [(ngModel)]="userModel.IsSendPromotionalOffers" name="IsSendPromotionalOffers">
        <label class="form-check-label">Send me promotional offers</label>
    </div>

    <div ngModelGroup="Address">
    
    <div class="form-group">
        <label>Street</label>
        <input type="text" class="form-control" [(ngModel)]="userModel.Address.Street" name="Street">
    </div>
    
    <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" [(ngModel)]="userModel.Address.City" name="City">
    </div>

    <div class="form-group">
        <label>State</label>
        <input type="text" class="form-control" [(ngModel)]="userModel.Address.State" name="State">
    </div>

    <div class="form-group">
        <label>Postal Code</label>
        <input type="text" class="form-control" [(ngModel)]="userModel.Address.PostalCode" name="PostalCode">
    </div>

    </div>

    <button class="btn btn-primary" type="submit" 
        (click)="createUser()"
        [disabled]="userForm.form.invalid"
    >
        Submit Form
    </button>

  </form>
</div>
